table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 20px;
}

.rendu {
    background-color: lightgreen;
}

.nonRendu {
    background-color: lightcoral;
    border: 2px dashed purple;
    font-weight: bold;
    font-style: italic;
    color:yellow;
} 

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px; 
}

.ajouterBtn {
    align-self: flex-end;
    background-color: #4CAF50; 
}

#divPagination {
    width:700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.demo-table {
    width: 100%;
}
  
  .mat-column-nom {
    border-right: 1px solid currentColor;
    padding-right: 24px;
    padding-left: 24px;
    text-align: left;
    font-size: 20px;

  }
  
  .mat-column-dateDeRendu {
    width: 132px;
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-rendu {
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 60px;
  }
  
  .demo-paginator {
    width: 600px;
    margin-left:-40px;
  }
  
  
   .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    gap: 50px; 
    align-items: center; 
  }

  .card {
    width: 400px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #40A550;
    border-radius: 5px;
    height: auto;
  }
  
  .card-content {
    text-align: center; 
  }
  
  
  .assignment-card {
    flex: 1 1 calc(25% - 16px);
    box-sizing: border-box;
    margin-bottom: 5px
  }
  .matiere-image img {
    width: 80px;
    border-radius: 30%;
  }
  .prof-image img {
    width: 80px;
    border-radius: 30%;
  } 

  .assignment-rendu {
    background-color: #4CAF50;
  }

  .slider-container {
    display: flex;
    justify-content: center;
}
.slider {
    width: 300px;
}
.green-button {
  background-color: green;
  color: white;
}

.green-button:hover {
  background-color: darkgreen;
}

  
 
  