<div class="container">
    <div class="ajouterBtn">
        <a routerLink="/add">
            <button mat-flat-button 
            > 
            Ajouter Devoir
            </button>
        </a>
    </div>
    
    <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="totalDocs" 
               [pageSize]="limit"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]="page-1"
               aria-label="Select page"> 
    </mat-paginator>


    <div class="cards-container">
        <div *ngFor="let assignment of assignments; trackBy: trackByFn" class="assignment-card">
            <mat-card class="card" [ngClass]="{'assignment-rendu': assignment.rendu}">
                <mat-card-header class="card-header">
                    <div class="matiere-image">
                        <img mat-card-image [src]="getmatiereImage(assignment.matiere)" alt="Matière" />
                    </div> 
                    <mat-card-title>{{ assignment.devoir }}</mat-card-title>
                    <mat-card-subtitle>{{ assignment.dateDeRendu | date: 'd/M/yy' }}</mat-card-subtitle>
                    <div mat-card-avatar class="prof-image">
                        <img [src]="getprofImage(assignment.matiere)" alt="Professeur" />
                    </div>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <p>Élève : {{ assignment.nom }}</p> 
                    <p>Note : {{ assignment.note }}/20</p>
                    <p>Remarque : {{ assignment.remarque }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" [routerLink]="['/assignments', assignment._id]">Voir détails</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
      
</div>
 