<div class="container">
    <form ngForm (submit)="onSubmit(); formAssignments.reset()" class="form" #formAssignments>
      <mat-form-field>
        <mat-label>Matière</mat-label>
        <input matInput placeholder="Nom du devoir" [(ngModel)]="Matiere" name="matiere">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Nom du devoir</mat-label>
        <input matInput placeholder="Nom de la matière" [(ngModel)]="nomDevoir" name="devoir">
      </mat-form-field>  
  
      <mat-form-field> 
        <mat-label>Nom de l'élève</mat-label>
        <input matInput placeholder="Nom eleve" [(ngModel)]="nomEleve" name="nom">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Note</mat-label>
        <input matInput placeholder="/20" [(ngModel)]="Note" name="note">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Date de rendu</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> 
  
      <mat-form-field>
        <mat-label>Remarque</mat-label>
        <input matInput placeholder="Remarque" [(ngModel)]="Remarque" name="remarque">
      </mat-form-field>
  
      <div *ngIf="Matiere">
        <img *ngIf="matiereImage" [src]="matiereImage" alt="Image de la matière" width="200">
        <img *ngIf="profImage" [src]="profImage" alt="Image du prof de la matière" width="200">
      </div>
      
      <button mat-raised-button class="btn" type="submit">Ajouter un devoir</button> 
    </form>
  </div>
  