@if(assignment) {
    <div class="container">
     <h1>Edition de l'assignment {{assignment.nom}}</h1>

     
     <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
       
      <mat-form-field>
        <input matInput placeholder="Edition de la Matière" [(ngModel)]="Matiere" name="matiere">
      </mat-form-field>

      <mat-form-field>
      <input matInput placeholder="Edition du nom du devoir" [(ngModel)]="Devoir" name="nomDevoir">
      </mat-form-field>
 
      <mat-form-field>
        <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name">
      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="Edition de la note" type="number" [(ngModel)]="Note" name="note">
      </mat-form-field>

      
       <mat-form-field>
         <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
         <mat-datepicker-toggle matSuffix [for]="picker">
         </mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
       </mat-form-field> 

       <mat-form-field>
        <input matInput placeholder="Edition de la remarque" [(ngModel)]="Remarque" name="remarque">
        </mat-form-field>

        <div *ngIf="Matiere">
          <img *ngIf="matiereImage" [src]="matiereImage" alt="Image de la matière" width="200">
        <img *ngIf="profImage" [src]="profImage" alt="Image du prof de la matière" width="200">
        </div>

       <button mat-raised-button class="btn" [disabled]="((!nomAssignment)||(!dateDeRendu))||(!Note)||(!Devoir)||(!Matiere)||(!Remarque)">
        Sauver
      </button> 
    </form>
   </div> 
   } 
       